* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header-flex-container p {
    text-transform: uppercase;
}

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 575px) {
    /* HEADER */
    .logo-image {
        max-width: 100%;
        height: 35px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .header-flex-container {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        color: #333;
        align-content: center;
        text-align: start;
        border-top: 1px solid #ccc;
        font-weight: bold;
    }

    .header-flex-item {
        border-bottom: 1px solid #ccc;
        background-color: #eeeeee;
        flex-basis: 100%;
        height: 40px;
        text-indent: 20px;
        line-height: 40px;
    }

    .header-flex-item a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
    }

    .header-flex-item p:last-child {
        margin-bottom: 0;
    }

    p b {
        font-size: 15px;
    }

    .banner {
        background: url('../img/banner.jpg') no-repeat center / cover;
        margin: 0 auto;
        height: 250px;
        max-width: 100%;
        position: relative;
    }

    .banner-description {
        word-wrap: break-word;
        background-color: #39c2d7;
        padding: 13px 20px 10px 10px;
        margin-top: 150px;
        margin-left: 20px;
        margin-right: 20px;
        position: absolute;
        color: #fff;
        font-weight: bold;
    }

    /* MAIN */
    section {
        background-color: #fff;
    }

    section a {
        text-decoration: none;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .flex-container-2 {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: nowrap;
    }

    .flex-items-2 {
        background-color: #cccccc;
        color: #333;
        margin-bottom: 20px;
    }

    .flex-items-2 a {
        text-decoration: none;
        color: #333;
    }

    .flex-items-2 a:visited {
        background-color: #39c2d7;
    }

    .flex-items-2:last-child {
        margin-bottom: 0;
    }

    .flex-image {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flex-items-2 p {
        text-align: left;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    /* FOOTER */
    footer {
        background-color: #39c2d7;
        color: #fff;
        width: 100%;
    }

    .flex-container-3 {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
    }

    .flex-items-3 a {
        text-decoration: underline;
        color: #fff;
    }

    .flex-items-3 a:hover {
        text-decoration: none;
    }

    .footer-copyright {
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

/* TABLET */
@media (min-width: 576px) and (max-width: 900px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    /* HEADER */
    header {
        width: 100%;
    }

    .logo-image {
        max-width: 100%;
        height: 57px;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .header-flex-container {
        width: 100%;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        color: #333;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        flex-shrink: 0;
        margin-bottom: 30px;
    }

    .header-flex-item {
        flex-basis: 100px;
    }

    .header-flex-item a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
    }

    .header-flex-item a:hover {
        color: #39c2d7;
    }

    .header-flex-item:first-child a {
        font-weight: bold;
        color: #39c2d7;
    }

    .header-flex-item p:last-child {
        margin-bottom: 0;
    }

    .banner {
        background: url('../img/banner.jpg') no-repeat center / cover;
        height: 530px;
        max-width: 100%;
    }

    .banner-description {
        color: #fff;
        font-weight: bold;
        margin: 0 230px 0 230px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 0;
        position: absolute;
        text-align: center;
    }

    /* MAIN */
    section {
        background-color: #fff;
    }

    section img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    p b {
        font-size: 17px;
    }

    .flex-container-2 {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
        flex-wrap: wrap;
    }

    .flex-items-2 {
        background-color: #cccccc;
        color: #333;
        margin-bottom: 20px;
        margin-left: 20px;
        flex-basis: 45%;
        height: 260px;
    }

    .flex-items-2 a {
        text-decoration: none;
        color: #333;
    }

    .flex-items-2:nth-child(3) {
        background-color: #39c2d7;
    }

    .flex-items-2:last-child {
        margin-bottom: 0;
    }

    .flex-image {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flex-items-2 p {
        text-align: left;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    /* FOOTER */
    footer {
        background-color: #39c2d7;
        color: #fff;
        height: 95px;
    }

    .flex-container-3 {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
    }

    .flex-items-3 a {
        color: #fff;
        margin-left: 25px;
        text-decoration: underline;
    }

    .flex-items-3 a:hover {
        text-decoration: none;
    }

    .footer-copyright {
        margin-left: 10px;
        margin-top: 25px;
        font-weight: bold;
        text-align: center;
    }
}

/* DESKTOP */
@media only screen and (min-width: 901px) {
    .container {
        display: block;
        width: 900px;
        margin: 0 auto;
        padding: 0;
    }
    
    /* HEADER */
    header {
        width: 100%;
    }

    .logo-image {
        max-width: 100%;
        height: 57px;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;
    }

    .header-flex-container {
        font-size: 15px;
        color: #333;
        font-weight: bold;
        text-align: center;
        height: 90px;
    }

    .header-flex-item {
        float: left;
        margin-left: 20px;
        flex-basis: 100px;
        margin-top: 35px;
    }

    .header-flex-item a {
        text-decoration: none;
        font-weight: bold;
        color: #333;
    }

    .header-flex-item a:hover {
        color: #39c2d7;
    }

    .header-flex-item p:last-child {
        margin-bottom: 0;
    }

    .banner {
        width: 100%;
        height: 375px;
        background: url('../img/banner.jpg') no-repeat center / cover;
        margin: 0 auto;
    }

    .banner-description {
        margin-top: 60px;
        font-size: 200%;
        position: absolute;
        word-wrap: break-word;
        width: 355px;
        color: #fff;
    }

    /* MAIN */
    section {
        width: 100%;
        background-color: #fff;
    }

    section img {
        max-width: 253px;
        height: auto;
    }

    p b {
        font-size: 17px;
    }

    .flex-container-2 {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px 20px 20px 0;
        flex-wrap: wrap;
    }

    .flex-items-2 {
        background-color: #cccccc;
        color: #333;
        margin-bottom: 20px;
        margin-left: 20px;
        flex-basis: 273px;
        height: 250px;
    }

    .flex-items-2 a {
        text-decoration: none;
        color: #333;
    }

    .flex-items-2 a:visited {
        background-color: #39c2d7;
    }

    .flex-items-2:nth-child(1) {
        margin-left: 0;
        background-color: #39c2d7;
    }

    .flex-items-2:nth-child(4) {
        margin-left: 0;
    }

    .flex-items-2:last-child {
        margin-bottom: 0;
    }

    .flex-image {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .flex-items-2 p {
        text-align: left;
        margin-left: 8px;
        margin-bottom: 8px;
    }

    /* FOOTER */
    footer {
        background-color: #39c2d7;
        color: #fff;
        height: 55px;
    }

    .flex-container-3 {
        float: left;
        padding-top: 20px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .flex-items-3 {
        float: left;
        margin-left: 20px;
    }

    .flex-items-3 a {
        color: #fff;
        text-decoration: none;
    }

    .flex-items-3 a:hover {
        text-decoration: none;
    }

    .footer-copyright {
        padding-top: 20px;
        padding-bottom: 20px;
        float: left;
        font-weight: bold;
        margin-left: 25px;
    }
}

