@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.first-height {
    height: 740px;
}

header {
    width: 100%;
    height: 740px;
    background: url(../img/apples.jpg) no-repeat center / cover;
}

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}


.container {
    width: 1200px;
    margin: 0 auto;
}


.header__title {
    margin-top: 45px;
    font-size: 15px;
    float: left;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header-menu {
    display: block;
    padding: 0;
    margin: 0;
}

.header-nav {
    float: right;
    margin-top: 45px;
    margin-right: 90px;
}

.header-menu li {
    display: block;
    float: right;
    list-style: none;
}

.header-menu a {
    text-decoration: none;
    color: #fff;
    margin-left: 55px;
    font-size: 14px;

}

.header-menu a:hover {
    padding-bottom: 10px;
    border-bottom: 1.5px #B7C8D9 solid;
    padding-right: 10px;
    padding-left: 10px;
}

.titles {
    margin-top: 200px;
    text-align: center;
}

.titles p {
    margin: 0;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.trade-mark {
    position: absolute;
    font-size: 25px;
    margin-top: 53px;
}

.titles__ampersand {
    font-size: 90px;
}

.titles-second {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: -0.5px;
}

.header-button {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    width: 230px;
    border: 2px solid #fff;
    padding: 20px 0 20px 0;
    background-color: #343638;
    margin: 170px auto 0;
}

.second-height {
    background-color: #fff;
    height: 360px;
}

.flex-container {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: #000;
    padding: 0;
}

.flex-item:nth-child(1) {
    width: 480px;
    font-size: 25px;
    order: 0;
    flex: 1 1 auto;
    align-self: center;
}

.flex-item:nth-child(2) {
    width: 500px;
    order: 0;
    flex: 1 1 auto;
    align-self: center;
}

section:nth-child(3) {
    background: #F3F3F3;
}

.height-3 {
    height: 1360px;
}

.height-3 h4 {
    font-size: 25px;
    margin-top: 151px;
    text-align: center;
    margin-bottom: 90px;
}

.row:nth-child(2n + 1) {
    margin-top: 30px;
}

.left {
    float: left;
}

.margin-picture {
    margin-left: 33px;
}

.container__subscribe {
    float: left;
    width: 1173px;
    padding: 0;
    margin-top: 90px;
    background-color: #fff;
    color: #000;
    height: 200px;
    text-align: center;
}

.container__subscribe p {
    margin-top: 90px;
    width: 430px;
    float: left;
    font-size: 25px;
    margin-left: 10px;
}

.container__subscribe-input {
    margin-top: 83px;
    float: left;
    padding: 20px 20px 15.5px 20px;
    width: 428px;
    border: 1px solid #343638;
    background-color: #F3F3F3;
    line-height: normal;
}

::-webkit-input-placeholder {
    text-align: left;
    padding-bottom: 10px;
    color: #343638;

}

.container__subscribe-button {
    margin-top: 83px;
    float:left;
    text-decoration: none;
    color: #fff;
    background-color: #343638;
    width: 170px;
    padding: 20px 20px 17px 20px;
}

a:hover {
    text-decoration: none;
}


.height-4 {
    height: 440px;
    background-color: #fff;
    margin-top: 145px;
}

.flex-container-1 {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    color: #b6b6b6;
    flex-direction: row;
}

.flex-heading {
    flex-basis: 250px;
    justify-content: flex-start;
    color: #000!important;
    font-size: 20px!important;
}

.flex-heading:nth-last-child(1), .flex-item-4 {
    flex: 4;
    order: 4;
}

.flex-heading:nth-child(1) {
    margin-bottom: 30px;
}

.flex-heading:nth-child(2) {
}

/*.flex-heading:nth-child(3) {*/
    /*margin-left: 47px;*/
/*}*/

.flex-item-1, .flex-item-2, .flex-item-3, .flex-item-4 {
    flex-wrap: wrap;
    flex-basis: 230px;
    font-size: 15px;
}

.flex-item-2, .flex-item-3, .flex-item-4 {
    margin-left: 47px;
}

.flex-item-3 p {
    color: #dbdbdb;
}

.email-letter {
    margin-top: 32px;
    background-color: #f3f3f3;
    border: 1px solid #343638;
    padding: 15px;
    width: 170px;
    float: left;
}

.button-letter {
    padding: 15px 15px 17px 15px;
    background-color: #343638;
    border: none;
    color: #fff;
    float: left;
    width: 100px;
    margin-top: 32px;
}

footer nav {
    display: block;
    float: right;
}

footer nav li {
    color: #000000;
    list-style: none;
    float: right;
    margin-right: 46px;
}

footer span {
    color: #b1b1b1;
}

footer {
    height: 80px;
}

.text-left-bottom {
    position: absolute;
    display: inline-block;
    margin-top: 250px;
    margin-left: 31px;
    color: #fff;
}

span b {
    font-size: 15px;
}

.second {
    margin-left: 50px;
}

.last {
    margin-left: 50px;
}

.white-heart {
    padding: 8px 12px 8px 12px;
    margin-top: 20px;
    margin-left: 690px;
    color: #fff;
    position: absolute;
    background-color: #625f60;
    border: 1.5px solid #fff;
    font-size: 12px;
}

.white-heart span {
    color: #fff;
}

.white-heart:last-child {
    margin-left: 1093px;
}

.for-bottom {
    margin-left: 285px;
}

