$backgroundColor: #dcbb9a;
$contentBackground: #fff;
$headingText: #893c00;
$briefBackground: #fadcba;
$briefWidth: 300px;
$briefHeight: 100px;
$linkColor: #3d70a1;
$tableHead: #e0e0e0;

//form
$formColors: #808080;
