$backgroundColor: rgba(198, 238, 252, 0.53);  ;
$contentBackground: #fff178;
$headingText: #3b3b3b;
$briefBackground: #fccd10;
$briefWidth: 300px;
$briefHeight: 100px;
$tableHead: #94a34e;
$tableColor: #677d01;

//form
$formColors: #f5c70f;
